<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CS171FinalProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE5F82621E04E1C500816910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE5F827F1E04E1C600816910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE5F828A1E04E1C600816910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
